{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



    <div class="panel pricing-table">


        <div class="wrapper">

            <div class="logo">
                <div class="wrap-logo">
                    <div class="clip-block">
                        <div class="clip-each clip-solid">
                            <div class="logo-caption">SIS</div>
                            <div class="sous-logo-caption">Association</div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="quiz">
                <div class="wrap-quiz">
                    <!-- /clip-block -->

                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">
                                <i class="fas fa-star fa-fw fa-1x"></i>
                            </div>
                            <div class="sous-logo-caption">Facile</div>
                        </a>
                    </div>

                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">
                                <i class="fas fa-star fa-fw fa-1x"></i>
                                <i class="fas fa-star fa-fw fa-1x"></i>
                            </div>
                            <div class="sous-logo-caption">Moyen</div>
                        </a>


                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">
                                <i class="fas fa-star fa-fw fa-1x"></i>
                                <i class="fas fa-star fa-fw fa-1x"></i>
                                <i class="fas fa-star fa-fw fa-1x"></i>
                            </div>
                            <div class="sous-logo-caption">Difficile</div>
                        </a>
                    </div>


                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="1 0.03, 0.17 1, 1 1"></polygon>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>


            <div class="text">
                <div class="jobs wide">
                    <h3>PRÉSENTATION DE L'ASSOCIATION</h3>

                    <div class="job-wide-all">

                        <div class="job-content-buttons">
                            <div class="job-content">
                                <p>Sida Info Service a été créée en 1990 au plus fort de l'épidémie de SIDA.
                                    Aujourd'hui, nous cumulons plus de 30 ans d'expérience dans les domaines de la lutte
                                    contre le VIH, les IST, les hépatites, mais également de la santé sexuelle et de la
                                    lutte contre Thomophobie, la transphobie et la serophobie (discriminations à
                                    l'encontre des personnes vivant avec le VIH).

                                </p>
                                <p>Rebaptisée "SIS Association" en 2011, la structure a su évoluer avec son temps. Elle
                                    a participé à la promotion du dépistage et a accompagné tous les publics, notamment
                                    les plus vulnérables face à l'épidémie homosexuels, migrant.e.s. jeunes, usager.e.s
                                    de drogues. Elle a aussi répondu à l'arrivée des co infections avec les hépatites et
                                    autres IST.

                                </p>
                            </div>
                            <div class="job-content">
                                <p>Afin de favoriser l'accès à une information pertinente et adaptée sur la santé
                                    sexuelle, nous avons lancé, en 2020, un dispositif d' écoute baptisé Sexualités Info
                                    Sante. Cet espace d'information et d'écoute est également un moyen de prévention en
                                    matière de santé sexuelle avec une approche moins médicale et qui n'est pas
                                    directement liée au VIH. qui a parfois tendance à faire trop peur.

                                </p>
                                <p>Depuis sa fondation, SIS Association s'est inscrite dans la promotion de la santé
                                    sexuelle parce que convaincue que la vie sexuelle de chaque personne est un espace
                                    intime et singulier et qu'avoir accès à un espace de parole où s'exprimer librement
                                    et sans jugement permet de s'épanouir.

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="account">
                <div class="wrap-account">
                    <!-- /clip-block -->

                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">
                                <i class="fas fa-crown fa-fw fa-1x"></i>
                            </div>
                            <div class="sous-logo-caption">Classement</div>
                        </a>
                    </div>
                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">

                            <div class="clip-caption">
                                <i class="fas fa-user fa-fw fa-1x"></i>
                            </div>
                            <div class="sous-logo-caption">Compte</div>
                        </a>
                        <a href="#" class="clip-each clip-border-transparent">

                        </a></div>

                    <!-- /clip-block -->
                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5"></polygon>
                            </clipPath>
                        </defs>
                    </svg>

                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="1 0.03, 0.17 1, 1 1"></polygon>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="wrap-quiz">
                    <!-- /clip-block -->

                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">1</div>
                        </a>
                    </div>
                    <div class="clip-block">

                        <a href="#" class="clip-each clip-border">
                            <div class="clip-caption">2</div>
                        </a>
                        <a href="#" class="clip-each clip-border">

                        </a></div>

                    <!-- /clip-block -->
                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="hexagon-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="0.25 0.05, 0.75 0.05, 1 0.5, 0.75 0.95, 0.25 0.95, 0 0.5"></polygon>
                            </clipPath>
                        </defs>
                    </svg>

                    <svg class="clip-svg">
                        <defs>
                            <clipPath id="triangle-clip" clipPathUnits="objectBoundingBox">
                                <polygon points="1 0.03, 0.17 1, 1 1"></polygon>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="footer">footer</div>
        </div>


    </div>


{% endblock %}
